* {
	box-sizing: content-box;
}

p{
	float:center;
	width: 100px;
	height: 50px;
	margin: 20px;
}

.spacing1{
	position: absolute;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 600px;
}

.spacing0{
	position: absolute;
	padding: ;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	font-size: 12px;
}

.word{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
	font-size: 77px;
	letter-spacing: 66px;
}